.review {
    width: 42%;
    position: relative;
    display: flex;
    margin: 0 auto 20px auto;
    padding: 40px;
    background-color: #1C1814;
    &__image {
        width: 130px;
        margin-right: 0 ;
        img {
            width: 129px;
            height: 149px;
        }
        p {
            margin-top: 28px;
            margin-bottom: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
    &__description {
        margin-top: 10px;
        margin-left: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 180%;
        opacity: 0.8;
    }
}